# Video files
*.mp4
**/*.mp4
videos/
**/videos/
*.avi
*.wav

# Ignore videos regardless of case
*.MP4
**/*.MP4

# Ignore videos in any subdirectory
/**/videos/*
/**/videos/*.mp4
/**/videos/*.MP4

# Ignore video directories at any level
[Vv]ideos/
**/[Vv]ideos/

# Python-related ignores
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.Python
admin/audio_hints/
admin/saved_hint_images/
admin/saved_hints.json

# Ignore the sync directory
admin/sync_directory/**
kiosk/hint_image_files/**
kiosk/hint_audio_files/**
kiosk/Backgrounds/**
kiosk/hint_backgrounds/**
kiosk/hint_button_backgrounds/**
kiosk/timer_backgrounds/**
kiosk/data/**
kiosk/file_hashes.json
kiosk/music/
kiosk/loss_audio/**
kiosk/other_files/**
kiosk/intro_videos/transcoder.py
kiosk/intro_videos/downscale.py
New folder/downscale.py
sloc counter/**
kiosk/logs/**
admin/bug_manager_debug.log
kiosk/kiosk_state.json
